@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap");
.nav-bar {
  grid-column: 1/2;
  position: fixed;
  height: 100%;
  z-index: 100;
  background-color: #242424;
  width: 20%;
  color: lightgrey;
  font-size: 1em;
}

.menu {
  width: 100%;
}
.menu .item-menu {
  text-decoration: none;
  color: lightgrey;
  font-family: Courier New, Courier, monospace;
  font-weight: 400;
}
.menu .item-menu a {
  text-decoration: none;
  color: lightgrey;
}
.menu .item-menu:hover {
  border-right: solid 5px #33FFA9;
  background-color: #181818;
}
.menu .item-menu {
  padding: 4%;
}

.item-menu i {
  margin-right: 10px;
}

.open-menu {
  left: 0px !important;
  width: 300px;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .nav-bar {
    left: -400px;
  }

  .container-grid {
    grid-template-columns: auto !important;
  }
  .container-grid #exit {
    pointer-events: auto;
    color: lightgrey;
  }
}
#exit {
  position: absolute;
  right: 10px;
  padding: 0px;
  top: 0px;
  font-size: 1.5em;
  cursor: pointer;
  pointer-events: none;
  color: #242424;
}

.title-nav {
  padding: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
.title-nav h1 {
  color: #33FFA9;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 0px;
}
.title-nav h2, .title-nav h3 {
  color: #33FFA9;
  margin: 0px;
  padding: 0px;
}
.title-nav .fa-terminal {
  font-size: 2em;
  font-weight: 600;
  color: #33FFA9;
}

.btn-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  color: #242424;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
}

.nav-footer-container {
  display: grid;
  grid-template-rows: repeat 3, 1fr;
  grid-template-areas: "a" "b" "c";
}

.btn {
  padding: 0.5rem;
  background-color: #181818;
  color: #33FFA9;
  border: solid 1px #33FFA9;
  cursor: pointer;
  text-align: center;
  max-width: 300px;
}

.btn:hover {
  background-color: #33FFA9;
  color: #242424;
  transition: 0.2s;
  box-shadow: 0 3px #1CBD79;
}
.btn:hover:active {
  box-shadow: 0 0px;
  transform: translateY(3px);
}

.descargas {
  grid-area: c;
  margin: 1em;
  font-size: 0.8em;
}

.area-b {
  grid-area: b;
}

.area-a {
  grid-area: a;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  color: #363636;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background: white;
  background: radial-gradient(circle, white 30%, whitesmoke 100%);
  overflow-x: hidden;
}
body h1, body h2, body h3 {
  font-weight: 300;
  color: #242424;
}

.container-grid {
  display: grid;
  grid-template-columns: [nav-column] 20% [content-column] 80%;
  margin: 0px;
}

.container-content {
  grid-column: 2/2;
}

#aboutme .section {
  grid-template-columns: 1fr;
}

.section {
  background-color: white;
  box-shadow: 0px 0px 1px 0px;
}

.title-card {
  background-color: none;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.section {
  margin: 2%;
}

.container-home {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  background-color: #2be798;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2333ffa9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 100vh;
  overflow: hidden;
}

.postscript {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2%;
  width: 60%;
}

.img-home {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 40%;
}
.img-home img {
  filter: grayscale(100%);
  width: 80vw;
}

.container-experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}

#experience {
  text-align: center;
  margin: 0;
  top: 0;
  padding: 1%;
  border-top: solid 0.5rem #242424;
}
#experience h1 {
  color: #242424 !important;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .postscript {
    justify-content: start;
  }
  .postscript h1 {
    writing-mode: vertical-lr;
    padding-right: 0px;
    margin-right: 0px;
  }

  .img-home {
    visibility: none;
  }
  .img-home img {
    display: none;
  }

  .container-experience {
    flex-direction: column;
  }

  .section {
    width: 90% !important;
  }

  .container-aboutme {
    flex-wrap: wrap-reverse;
  }
}
.welcome {
  letter-spacing: 2px;
  text-align: right;
}
.welcome #miname {
  font-weight: 600;
}

.container-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  background-color: #242424;
  color: white;
}
.container-aboutme #content-aboutme {
  padding: 1rem;
  font-size: 1rem;
}
.container-aboutme #content-aboutme h1 {
  color: white;
}
.container-aboutme #img-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6%;
}
.container-aboutme #img-aboutme img {
  filter: grayscale(100%);
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

/*# sourceMappingURL=style.css.map */
